{% extends 'musicnote/base.html' %}
    

{% load static %}
<!DOCTYPE html>

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'musicnote/searchstyle.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link rel="stylesheet" href="{% static 'musicnote/sliderIndex/style.css' %}">
{% endblock extra_css %}


{% block title %}MusicBox{% endblock title %}

{% block canvas %}
    <canvas id="space-background"></canvas>
{% endblock canvas %}



{% block content %}
<div class="content-s">

    <h1>Faites vibrer vos playlists !</h1>

    <p class="indic-text">Sur MusicBox, chaque morceau mérite sa note.<br> Donnez votre avis, découvrez les tendances et partagez vos coups de cœur musicaux !</p>    

    <h2>Cherche ton morceau préféré</h2>
    <form>
    <input type="text" id="search" placeholder="Tape un nom de chanson ou artiste...">
    </form>
    <ul id="results">
        <li class="no-result">Commence à taper pour voir des résultats...</li>
    </ul>


    <h2>Les dernières notes de la communauté</h2>

    <div class="splide" id="slider-1">
        <div class="splide__track">
            <ul class="splide__list">
            
            {% for review in last_songs_1 %}
            
                <li class="splide__slide">
                    <div class="slide-content">
                        <a href="{% url 'musicnote:song' review.song.id %}">
                            <img src="{{ review.song.cover }}" alt="Logo 1" />
                            <p><strong>{{review.song.name}}</strong></p>
                        </a>
                    </div>
                </li>


            {% endfor %}
            </ul>
        </div>
    </div>

    {% if last_songs_2 %}

    <div class="splide" id="slider-2">
        <div class="splide__track">
            <ul class="splide__list">
            
            {% for review in last_songs_2 %}
            
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="{{ review.song.cover }}" alt="Logo 1" />
                        <p><strong>{{review.song.name}}</strong></p>
                    </div>
                </li>


            {% endfor %}
            
            </ul>
        </div>
    </div>
    
    {% endif %}


</div>


{% endblock content %}











{% block extra_js %}

<script>
        const searchInput = document.getElementById('search');
        const resultsList = document.getElementById('results');

        searchInput.addEventListener('input', function() {
            const query = this.value.trim();

            if (query.length < 2) {
                resultsList.innerHTML = '<li class="no-result">Commence à taper pour voir des résultats...</li>';
                return;
            }

            fetch(`/search/?q=${encodeURIComponent(query)}`)
                .then(response => {
                    if (!response.ok) throw new Error("Erreur réseau");
                    return response.json();
                })
                .then(data => {
                    resultsList.innerHTML = '';

                    if (!data.tracks || data.tracks.length === 0) {
                        resultsList.innerHTML = '<li class="no-result">Aucun résultat</li>';
                        return;
                    }

                    data.tracks.forEach(track => {
                        if (track.in_data_base){
                            const li = document.createElement('li');
                            li.innerHTML = `
                                <a href="/song/${track.id}"> <strong>${track.title}</strong> – ${track.artist.name}<br> </a>
                            `;
                            resultsList.appendChild(li);
                        }else{
                            const li = document.createElement('li');
                            li.innerHTML = `
                                <a href="/add_deezer_song/${track.deezer_id}">
                                <strong>${track.title}</strong> – ${track.artist.name}
                                </a>
                            `;
                            resultsList.appendChild(li);
                        }

                    });
                })
                .catch(error => {
                    resultsList.innerHTML = `<li class="no-result">Erreur : ${error.message}</li>`;
                });
        });
</script>


<script src="{% static 'musicnote/space.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@latest/dist/js/splide-extension-auto-scroll.min.js"></script>

<script src="{% static 'musicnote/sliderIndex/script.js' %}"></script>



{% endblock extra_js %}
