{% extends 'musicbox/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'musicnote/LoginSignup/style.css' %}">
{% endblock extra_css %}


{% block title %}
MusicBox:Login
{% endblock title %}


{% block content %}

    <div class="form-back">
        <h2>Connexion</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>

        <p class="signup-text">
            Pas de compte ? <a href="{% url 'musicnote:signup' %}">S'inscrire</a>
        </p>

    </div>
{% endblock content %}


 