{% extends 'musicnote/base.html' %}

{% load static %}


{% block title %}
MusicBox:Inscription
{% endblock title %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'musicnote/LoginSignup/style.css' %}">
{% endblock extra_css %}


{% block content %}
    <div class="form-back">
        <h2>Créer un compte</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S’inscrire</button>
        </form>
        <p class="signup-text">Déjà un compte ? <a href="{% url 'musicnote:login' %}?next={{ request.path }}">Se connecter</a></p>
    </div>
{% endblock content %}

