{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'musicnote/Menu/style.css' %}">
{% endblock extra_css %}


<header>
    <div class="container">
        <div class="logo">MusicNote</div>
        <nav>
        <ul class="nav-links">
            <li><a href="{% url 'musicnote:home' %}">Accueil</a></li>
            <li><a href="{% url 'musicnote:index' %}">Rechercher</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'musicnote:user' user.pk %}">Ma page</a></li>
            <li><a href="{% url 'musicnote:logout' %}">Se déconnecter</a></li>
            <li class="nav-user">{{ user }}</li>
            {% else %}
            <li><a href="{% url 'musicnote:login' %}">Se connecter</a></li>
            {% endif %}
        </ul>
        <!-- Hamburger -->
        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </nav>
    </div>
</header>


{% block extra_js %}
<script src="{% static 'musicnote/Menu/script.js' %}"></script>
{% endblock extra_js %}